<script setup lang="ts">
import { inject, provide, reactive } from "vue";
import { userInjectionKey } from "./injectionKeys";

import type Entry from "@/types/Entry";
import type User from "@/types/User";

import EntryCard from "@/components/EntryCard.vue";
import EntryEditor from "./components/EntryEditor.vue";
import TheHeader from "@/components/TheHeader.vue";

const entries: Entry[] = reactive([]);
const user: User = reactive({
  name: "Rey Garcia",
  username: "reygarcia",
  settings: [],
});

const handleCreateEntry = (entry: Entry) => {
  entries.unshift(entry);
};

provide(userInjectionKey, user);
</script>

<template>
  <main class="container m-auto p-10">
    <TheHeader />
    <EntryEditor @@create="handleCreateEntry" />
    <ul>
      <li v-for="entry in entries" :key="entry.id">
        <EntryCard :entry="entry" />
      </li>
    </ul>
  </main>
</template>
